@charset "UTF-8";
/* line 264, basic/*.png */
.basic-sprite, .butt-gre, .butt-gre:hover, .butt-gre:active, .butt-whi, .butt-whi:hover, .butt-whi:active {
  background-image: url('../../css/img/basic-s0b6b09b3fc.png');
  background-repeat: no-repeat;
}

/*
* {
	-webkit-transition: 0.5s;
    -moz-transition: 0.5s;
	transition: 0.5s;
}*/
/* line 12, ../../sass/partials/basic.scss */
.cf:after {
  content: '';
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

/* line 21, ../../sass/partials/basic.scss */
.fl {
  float: left;
}

/* line 24, ../../sass/partials/basic.scss */
.fr {
  float: right;
}

/* line 27, ../../sass/partials/basic.scss */
.ct {
  margin: 0 auto;
}

/* line 31, ../../sass/partials/basic.scss */
.hidden {
  display: none;
}

/* line 34, ../../sass/partials/basic.scss */
ul {
  list-style-type: none;
}

/* line 37, ../../sass/partials/basic.scss */
.text-center {
  text-align: center;
}

/* line 41, ../../sass/partials/basic.scss */
.vhidden {
  display: none;
}

/* line 44, ../../sass/partials/basic.scss */
.vshow {
  display: block;
}

/* line 48, ../../sass/partials/basic.scss */
button {
  background-color: transparent;
}

/* line 52, ../../sass/partials/basic.scss */
body {
  font-family: Helvetica Neue,Hiragino Sans GB,Microsoft Yahei,WenQuanYi Micro Hei,sans-serif;
}

/*按钮*/
/* line 56, ../../sass/partials/basic.scss */
.butt {
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
  width: 205px;
  height: 67px;
  text-align: center;
  line-height: 64px;
  font-size: 20px;
}

/* line 65, ../../sass/partials/basic.scss */
.butt-gre {
  color: #206936;
  background-position: 0 -167px;
}
/* line 68, ../../sass/partials/basic.scss */
.butt-gre:hover {
  background-position: 0 -502px;
}
/* line 71, ../../sass/partials/basic.scss */
.butt-gre:active {
  background-position: 0 -435px;
}

/* line 75, ../../sass/partials/basic.scss */
.butt-whi {
  color: #435849;
  background-position: 0 -368px;
}
/* line 78, ../../sass/partials/basic.scss */
.butt-whi:hover {
  background-position: 0 -301px;
}
/* line 81, ../../sass/partials/basic.scss */
.butt-whi:active {
  background-position: 0 -234px;
}
