@import "modules/basic-color";
@import "sp/base/index";


body {
	color:$color-text;
	font-family:Tahoma,Arial,”Helvetica Neue“,”Hiragino Sans GB”,Simsun,sans-self;
	background-color:$color-January;
}


/*header*/
.header {
    .header__user-nav {
    background-color:$color-October;
        color:white;
        .header__link {
            padding:5px 7px;
            color:white;
        }
        .header__span {
            padding:5px 7px;
            margin-left:0;
        }
        .header__span--address {
            display:inline-block;
            max-width:242px;
            margin-left:0;
        }
        i {
            margin-right:5px;
        }
    }

    .header__branding {
        margin-bottom:10px;
        .logo {
            margin:13px 0;
            a {
                display:block;
                height:67px;
                width:150px;
                @include base-sprite(logo);
            }
        }
        .header__city {
            margin-top:32px;
            margin-right:32px;
            .header__city--id {
               margin:0;
            }
        }
        
        .search-box {
            position:relative;
            margin-top:29px;
            .form-search {
                margin:0;
                .form-search__input {
                    width:335px;
                    padding:8px 5px;
                    border:3px solid $color-October;
                }
                .form-search__btn {
                    width:72px;
                    height:40px;
                    line-height:32px;
                    color:white;
                }
            }

            .search-suggest {
                position:absolute;
                z-index:10;
                top:42px;
                left:-23px;
                width:422px;
                max-height:330px;
                overflow:hidden;
                list-style-type:none;
                background-color:white;
                border:1px solid #e8e8e8;
                font-size:12px;

                li {
                    padding: 5px 7px;
                }

                li.search-suggest__tip {
                    color: #999;
                    cursor: default;
                }
                li.search-suggest__item {
                    &:hover {
                        background-color:#F6FAFC;
                    }
                }
                li.search-suggest__item--history {
                    color:$color-October;
                    .remove {
                        float:right;
                        display:none;
                    }
                    &:hover {
                        .remove {
                            display:block;
                        }
                    }
                }
            
            }
        }
        

        .header__nav {
            margin-right:5px;
            margin-top:27px;
            line-height:40px;
            a {
                color:$color-text;
                font-size:20px;
                font-weight:bold;
                cursor:pointer;
                i {
                    margin-top:6px;
                    margin-right:5px;
                }
            }
            .vertical-line {
                margin:0 30px;
            }
        }
    }
}

/*footer*/
.footer {
    margin-top:50px;
    .footer-info {
        h4 {
            padding-left:25px;
        }
        .i-service-avatar {
            width:48px;
            height:48px;
            margin:0 auto 20px;
            @include base-sprite(cc);
        }
        .details {
            text-align:center;
        }
    }
    .copyright {
        text-align:center;
        margin:70px 0;
    }
}

.stick-qrcode {
    position:fixed;
}
