
@import "modules/basic-color";
@import "sp/basic/index";

/*
* {
	-webkit-transition: 0.5s;
    -moz-transition: 0.5s;
	transition: 0.5s;
}*/
.cf {
	&:after {
		content:'';
		display:block;
		clear:both;
		height:0;
		overflow:hidden;
		visibility:hidden;
	}
}
.fl {
	float:left;
}
.fr {
	float:right;
}
.ct {
	margin:0 auto;
}

.hidden {
    display:none;
}
ul {
    list-style-type:none;
}
.text-center {
    text-align:center;
}

.vhidden {
    display:none;
}
.vshow {
    display:block;
}

button {
    background-color:transparent;
}

body{font-family: Helvetica Neue,Hiragino Sans GB,Microsoft Yahei,WenQuanYi Micro Hei,sans-serif;}


/*按钮*/
.butt {
    display:block;
    margin:0;padding:0;border:0;
    width:205px;height:67px;
    text-align:center;
    line-height:64px;
    font-size:20px;

}
.butt-gre {
    color:$color-green-light;
    @include basic-sprite(btn-gre-normal);
    &:hover {
        @include basic-sprite(btn-gre-hover);
    }
    &:active {
        @include basic-sprite(btn-gre-active);
    }
}
.butt-whi {
    color:$color-green-dark;
    @include basic-sprite(btn-whi-normal);
    &:hover {
        @include basic-sprite(btn-whi-hover);
    }
    &:active {
        @include basic-sprite(btn-whi-active);
    }
}
