@import "modules/basic-color";
@import "sp/base/index";
@import "sp/basic/index";
@import "sp/company/index";

.pg-int {
    background-color: white;

/*
 * 头部区域
 */
    .header {
        width:100%;
        top:0;
        height:82px;
        .logo {
    
            a {
                display:block;
                width:150px;
                height:67px;
                @include base-sprite(logo);
            }
            span {
                display:block;
                width:170px;
                height:24px;
                margin-top:32px;
                text-indent:-9999px;
                font-size:14px;
                @include base-sprite(logo-des);
            }
        }
        /*以上内容需要调整*/
        .navbar-btn {
            display:none;margin:15px;
            position:absolute;top:0;right:0;
        }
        

        /*如果不同页heade不一样，这个可能也要调整*/
        .navbar-nav {
            float:right;
            margin-top:40px;
            margin-right:40px;
            li {
                float:left;
                border-right:1px solid white;
                line-height:14px;
                font-size:14px;
                &.lastone {
                    border:none;
                }
                a {
                    padding:0 14px;
                    color:white;
                    &:hover {
                        color:$color-blue-light;
                        text-decoration:none;
                    }
                }
            }
        }
    }



/*
 * 主体区域
 */
    .siteface {
        padding:149px 0 0;
        height:580-149px;
        background-position: center bottom;
        background-repeat: no-repeat;
        background-color: #6BABC6;
        color:white;
        .siteface-title {
            line-height:1.2em;
        }
        .siteface-nav {
            list-style-type: disc;
            font-size:22px;
            margin-top:30px;
            li {
                padding:10px;
            }
        }
        .siteface-butt {
            width:434px;margin-top:30px;

            .butt {
                margin-right:24px;
            }
            .lastone {
                margin-right:0;
            }
        }

    }

    .sitecontent {
        padding-top:27px;
        padding-bottom:27px;
        .sitecontent-title {
            margin-bottom:26px;
            font-size:40px;
            text-align:center;
            color:$color-text-light;
        }

        h3.site-subtitle {
            margin:10px 0;
            text-align:center;
            font-size:24px;font-weight:normal;
            color:$color-text-light;
        }

        .site-icon-large {
            margin:0 auto;
        }
        .site-icon-next {
            margin:82px auto;
        }

        .sitecontent-content {
            width:420px;margin:0 auto;
            .sitecontent-say-word {
                width:380px;
                p {
                    font-size:18px;
                }
                h4 {
                    float:left;
                    width:100%;
                }
            }
        }

        .sitecontent-say {
            padding:16px 0 40px;
            color:$color-text-light;
        }

        .slide-btn {
            margin-top:40px;
        }
        .slide-wrapper {
            margin-top:40px;
        }
        .slide-nav {
            margin-left:0;
            color:$color-text-light;
            text-align:center;
            p {
                font-size:30px;
                line-height:1.5em;
                margin-top:4px;
            }
            h3 {
                font-size:22px;
                margin-top:16px;margin-bottom:16px;
            }
        }

        .slide-tab {
            .slide-tab-nav {
                width:46*4-30px;
                margin:24px auto;
                li {
                    float:left;
                    margin-right:30px;
                    width:16px;height:16px;
                    @include basic-sprite(dot_normal);
                    
                    &:hover {
                        @include basic-sprite(dot_highlight);
                        cursor:pointer;
                    }
                    &.active {
                        @include basic-sprite(dot_highlight);
                        &:hover {
                            cursor:default;
                        }
                    }
                    &.lastone {
                        margin-right:0;
                    }
                }
            }
        }

        .contact-area {
            margin-top:10px;margin-bottom:60px;
            h3 {
                color:$color-text-light;
            }
            p {
                color:$color-green-light;
                width:190px;
            }
        }
    }

    .sitecontent-odd {
        background-color:$color-bac-light;
    }




/*
 * 尾部区域
 */

    .footer {
        padding-top:44px;
        padding-bottom:80px;
        background-color:$color-text-light;
        color:$color-bac-light;
        .footer-infoNav {
            h2 {
                font-size:24px;
            }
            a {
                color:$color-bac-light;
            }
        }
        .footer-infoNav--last {
            text-align:right;
        }
    }
}


/*
 * 不同界面
 */
.pg-home {
    .header {
        float:right;
    }
    h1.logo {
        display:none;
    }
    .siteface {
        background-image: url("../img/main/banner_pic.jpg");
    }
    .siteface-logo {
        display:block;width:262px;height:282px;
        @include basic-sprite(logo);
    }
    .siteface-qcode {
        height:262px;
        margin-top:20px;
        @include basic-sprite(qrcode);
    }
}



/*
 * 图标
 */
.site-icon-large {
    display:block;width:200px;height:200px;
}
.site-icon-large--1{
    @include basic-sprite(icon_step_1);
}
.site-icon-large--2{
    @include basic-sprite(icon_step_2);
}
.site-icon-large--3{
    @include basic-sprite(icon_step_3);
}
.site-icon-large--4{
    @include basic-sprite(bitmap_1);
}
.site-icon-large--5{
    @include basic-sprite(bitmap_2);
}
.site-icon-large--6{
    @include basic-sprite(bitmap_3);
}
.site-icon-large--7{
    @include basic-sprite(bitmap_4);
}
.site-icon-next {
    display:block;width:57px;height:44px;
    @include basic-sprite(arrow_next);
}
.site-icon-simple {
    display:block;width:110px;height:110px;
}
.site-icon-simple--address {
    @include basic-sprite(icon_location);
}
.site-icon-simple--phone {
    @include basic-sprite(icon_tel);
}
.site-icon-simple--mail {
    @include basic-sprite(icon_mail);
}

.site-icon-quotes-1 {
    display:block;width:29px;height:28px;
    @include basic-sprite(icon_quotes_left);
}
.site-icon-quotes-2 {
    display:block;width:30px;height:28px;
    @include basic-sprite(icon_quotes_right);
}
.navbar-btn {
    display:block;width:42px;height:42px;
    border:0;
    @include basic-sprite(menu);
}
.slide-btn {
    display:block;width:34px;height:56px;
    cursor:pointer;
}
.slide-btn-left {
    @include basic-sprite(arrow_left);
}
.slide-btn-right {
    @include basic-sprite(arrow_right);
}

.company-logo {
    display:block;margin:0 auto;
    width:100%;height:260px;
}
.company-logo--1 {
    @include company-sprite(cp-1);
}
.company-logo--2 {
    @include company-sprite(cp-1);
}
.company-logo--3 {
    @include company-sprite(cp-1);
}
.company-logo--4 {
    @include company-sprite(cp-1);
}


/*
 * 媒体查询
 */
@media (min-width: 1440px) {
    .siteface {
        background-size: cover;
    }
}


@media (min-width: 768px) and (max-width: 979px) {
    .pg-int {
        .sitecontent {
            .sitecontent-content {
                width:320px;
                .sitecontent-say-word {
                    width:280px;
                }
            }
        }
    }

}

@media (max-width: 480px) {
    .pg-int {
        .siteface {
            background-size: cover;
            height:531px;padding-top:82px;
            .siteface-butt {
                width:206px;
                .butt {
                    margin-right:0;
                }
                .lastone {
                    margin-top:10px;
                }
            }
        }
        .sitecontent {
            .sitecontent-content {
                width:100%;
            }
        }
    }
}

@media (max-width: 767px) {
    body {
        padding-right: 0px;
        padding-left: 0px;
    }
    .siteface-title {
        text-align:center;
    }
    .siteface-nav {
        display:none;
    }
    .siteface-butt {
        margin:0 auto;
    }
    .slide-btn {
        display:none;
    }
    .slide-wrapper {
        margin-top:0;
    }
    .pg-int {
        .header {
            .navbar-btn {
                display:block;
            }
            .navbar-nav {
                display:none;
                background-color:white;
                margin:0;
                padding-top:10px;border-bottom:1px solid #e8e8e8;
                width:100%;
                li {
                    float:none;
                    a {
                        color:$color-text;
                        font-size:16px;
                        display:block;
                        padding:15px 25px;
                    }
                
                }
            }
            .vshow {
                display:block;
            }
        }
        .sitecontent {
            .sitecontent-content {
                .sitecontent-say-word {
                    width:100%;
                }
            }
        }
        .footer {
            .footer-infoNav {
                text-align:center;
            }
        }
        .site-icon-next {
               -moz-transform: rotate(90deg);
                 -o-transform: rotate(90deg);
            -webkit-transform: rotate(90deg);
                    transform: rotate(90deg);
        }
        
    }
}







/*字体调整*/
@media (min-width: 768px) {
    .siteface-title {
        font-size:46px;
    }
}
@media (min-width: 481px) and (max-width: 767px) {
    .siteface-title {
        font-size:32px;
    }
}
@media (max-width: 480px) {
    .siteface-title {
        font-size:24px;
    }
}





