@charset "UTF-8";
/* line 56, base/*.png */
.base-sprite, .header .header__branding .logo a, .footer .footer-info .i-service-avatar {
  background-image: url('../../css/img/base-s2c318abd7b.png');
  background-repeat: no-repeat;
}

/*
* {
	-webkit-transition: 0.5s;
    -moz-transition: 0.5s;
	transition: 0.5s;
}*/
/* line 10, ../../sass/partials/base.scss */
.cf:after {
  content: '';
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

/* line 19, ../../sass/partials/base.scss */
.fl {
  float: left;
}

/* line 22, ../../sass/partials/base.scss */
.fr {
  float: right;
}

/* line 25, ../../sass/partials/base.scss */
.ct {
  margin: 0 auto;
}

/* line 29, ../../sass/partials/base.scss */
.hidden {
  display: none;
}

/* line 33, ../../sass/partials/base.scss */
body {
  color: #666;
  font-family: Tahoma,Arial,”Helvetica Neue“,”Hiragino Sans GB”,Simsun,sans-self;
  background-color: #f5f5ee;
}

/*header*/
/* line 42, ../../sass/partials/base.scss */
.header .header__user-nav {
  background-color: #7da457;
  color: white;
}
/* line 45, ../../sass/partials/base.scss */
.header .header__user-nav .header__link {
  padding: 5px 7px;
  color: white;
}
/* line 49, ../../sass/partials/base.scss */
.header .header__user-nav .header__span {
  padding: 5px 7px;
  margin-left: 0;
}
/* line 53, ../../sass/partials/base.scss */
.header .header__user-nav .header__span--address {
  display: inline-block;
  max-width: 242px;
  margin-left: 0;
}
/* line 58, ../../sass/partials/base.scss */
.header .header__user-nav i {
  margin-right: 5px;
}
/* line 63, ../../sass/partials/base.scss */
.header .header__branding {
  margin-bottom: 10px;
}
/* line 65, ../../sass/partials/base.scss */
.header .header__branding .logo {
  margin: 13px 0;
}
/* line 67, ../../sass/partials/base.scss */
.header .header__branding .logo a {
  display: block;
  height: 67px;
  width: 150px;
  background-position: 0 -50px;
}
/* line 74, ../../sass/partials/base.scss */
.header .header__branding .header__city {
  margin-top: 32px;
  margin-right: 32px;
}
/* line 77, ../../sass/partials/base.scss */
.header .header__branding .header__city .header__city--id {
  margin: 0;
}
/* line 84, ../../sass/partials/base.scss */
.header .header__branding .search-box {
  position: relative;
  margin-top: 29px;
}
/* line 87, ../../sass/partials/base.scss */
.header .header__branding .search-box .form-search {
  margin: 0;
}
/* line 89, ../../sass/partials/base.scss */
.header .header__branding .search-box .form-search .form-search__input {
  width: 335px;
  padding: 8px 5px;
  border: 3px solid #7da457;
}
/* line 94, ../../sass/partials/base.scss */
.header .header__branding .search-box .form-search .form-search__btn {
  width: 72px;
  height: 40px;
  line-height: 32px;
  color: white;
}
/* line 104, ../../sass/partials/base.scss */
.header .header__branding .header__nav {
  margin-right: 5px;
  margin-top: 27px;
  line-height: 40px;
}
/* line 108, ../../sass/partials/base.scss */
.header .header__branding .header__nav a {
  color: #666;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}
/* line 113, ../../sass/partials/base.scss */
.header .header__branding .header__nav a i {
  margin-top: 6px;
  margin-right: 5px;
}
/* line 118, ../../sass/partials/base.scss */
.header .header__branding .header__nav .vertical-line {
  margin: 0 30px;
}

/*footer*/
/* line 126, ../../sass/partials/base.scss */
.footer {
  margin-top: 50px;
}
/* line 129, ../../sass/partials/base.scss */
.footer .footer-info h4 {
  padding-left: 25px;
}
/* line 132, ../../sass/partials/base.scss */
.footer .footer-info .i-service-avatar {
  width: 48px;
  height: 48px;
  margin: 0 auto 20px;
  background-position: 0 0;
}
/* line 138, ../../sass/partials/base.scss */
.footer .footer-info .details {
  text-align: center;
}
/* line 142, ../../sass/partials/base.scss */
.footer .copyright {
  text-align: center;
  margin: 70px 0;
}

/* line 148, ../../sass/partials/base.scss */
.stick-qrcode {
  position: fixed;
}
