@charset "UTF-8";
/* line 176, base/*.png */
.base-sprite, .header .header__branding .logo a, .footer .footer-info .i-service-avatar {
  background-image: url('../../css/img/base-s8a968d003f.png');
  background-repeat: no-repeat;
}

/* line 5, ../../sass/partials/base.scss */
body {
  color: #666;
  font-family: Tahoma,Arial,”Helvetica Neue“,”Hiragino Sans GB”,Simsun,sans-self;
  background-color: #f5f5ee;
}

/*header*/
/* line 14, ../../sass/partials/base.scss */
.header .header__user-nav {
  background-color: #5bc52f;
  color: white;
}
/* line 17, ../../sass/partials/base.scss */
.header .header__user-nav .header__link {
  padding: 5px 7px;
  color: white;
}
/* line 21, ../../sass/partials/base.scss */
.header .header__user-nav .header__span {
  padding: 5px 7px;
  margin-left: 0;
}
/* line 25, ../../sass/partials/base.scss */
.header .header__user-nav .header__span--address {
  display: inline-block;
  max-width: 242px;
  margin-left: 0;
}
/* line 30, ../../sass/partials/base.scss */
.header .header__user-nav i {
  margin-right: 5px;
}
/* line 35, ../../sass/partials/base.scss */
.header .header__branding {
  margin-bottom: 10px;
}
/* line 37, ../../sass/partials/base.scss */
.header .header__branding .logo {
  margin: 13px 0;
}
/* line 39, ../../sass/partials/base.scss */
.header .header__branding .logo a {
  display: block;
  height: 67px;
  width: 150px;
  background-position: 0 -1744px;
}
/* line 46, ../../sass/partials/base.scss */
.header .header__branding .header__city {
  margin-top: 32px;
  margin-right: 32px;
}
/* line 49, ../../sass/partials/base.scss */
.header .header__branding .header__city .header__city--id {
  margin: 0;
}
/* line 54, ../../sass/partials/base.scss */
.header .header__branding .search-box {
  position: relative;
  margin-top: 29px;
}
/* line 57, ../../sass/partials/base.scss */
.header .header__branding .search-box .form-search {
  margin: 0;
}
/* line 59, ../../sass/partials/base.scss */
.header .header__branding .search-box .form-search .form-search__input {
  width: 335px;
  padding: 8px 5px;
  border: 3px solid #5bc52f;
}
/* line 64, ../../sass/partials/base.scss */
.header .header__branding .search-box .form-search .form-search__btn {
  width: 72px;
  height: 40px;
  line-height: 32px;
  color: white;
}
/* line 72, ../../sass/partials/base.scss */
.header .header__branding .search-box .search-suggest {
  position: absolute;
  z-index: 10;
  top: 42px;
  left: -23px;
  width: 422px;
  max-height: 330px;
  overflow: hidden;
  list-style-type: none;
  background-color: white;
  border: 1px solid #e8e8e8;
  font-size: 12px;
}
/* line 85, ../../sass/partials/base.scss */
.header .header__branding .search-box .search-suggest li {
  padding: 5px 7px;
}
/* line 89, ../../sass/partials/base.scss */
.header .header__branding .search-box .search-suggest li.search-suggest__tip {
  color: #999;
  cursor: default;
}
/* line 94, ../../sass/partials/base.scss */
.header .header__branding .search-box .search-suggest li.search-suggest__item:hover {
  background-color: #F6FAFC;
}
/* line 98, ../../sass/partials/base.scss */
.header .header__branding .search-box .search-suggest li.search-suggest__item--history {
  color: #5bc52f;
}
/* line 100, ../../sass/partials/base.scss */
.header .header__branding .search-box .search-suggest li.search-suggest__item--history .remove {
  float: right;
  display: none;
}
/* line 105, ../../sass/partials/base.scss */
.header .header__branding .search-box .search-suggest li.search-suggest__item--history:hover .remove {
  display: block;
}
/* line 115, ../../sass/partials/base.scss */
.header .header__branding .header__nav {
  margin-right: 5px;
  margin-top: 27px;
  line-height: 40px;
}
/* line 119, ../../sass/partials/base.scss */
.header .header__branding .header__nav a {
  color: #666;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}
/* line 124, ../../sass/partials/base.scss */
.header .header__branding .header__nav a i {
  margin-top: 6px;
  margin-right: 5px;
}
/* line 129, ../../sass/partials/base.scss */
.header .header__branding .header__nav .vertical-line {
  margin: 0 30px;
}

/*footer*/
/* line 137, ../../sass/partials/base.scss */
.footer {
  margin-top: 50px;
}
/* line 140, ../../sass/partials/base.scss */
.footer .footer-info h4 {
  padding-left: 25px;
}
/* line 143, ../../sass/partials/base.scss */
.footer .footer-info .i-service-avatar {
  width: 48px;
  height: 48px;
  margin: 0 auto 20px;
  background-position: 0 0;
}
/* line 149, ../../sass/partials/base.scss */
.footer .footer-info .details {
  text-align: center;
}
/* line 153, ../../sass/partials/base.scss */
.footer .copyright {
  text-align: center;
  margin: 70px 0;
}

/* line 159, ../../sass/partials/base.scss */
.stick-qrcode {
  position: fixed;
}
