/* line 3, ../../sass/partials/deal.scss */
.page-wrap {
  background-color: white;
}
/* line 5, ../../sass/partials/deal.scss */
.page-wrap .topnav {
  border-bottom: 2px solid #7da457;
  margin: 5px;
  font-size: 18px;
}
/* line 9, ../../sass/partials/deal.scss */
.page-wrap .topnav a {
  float: left;
  display: block;
  width: 120px;
  height: 38px;
  line-height: 38px;
  text-align: center;
  color: #7da457;
  text-decoration: none;
}
/* line 18, ../../sass/partials/deal.scss */
.page-wrap .topnav a.active {
  color: white;
  background-color: #7da457;
}

/* line 26, ../../sass/partials/deal.scss */
.sort-wrapper {
  margin-left: 5px;
  margin-right: 5px;
  padding: 10px 0;
}
/* line 30, ../../sass/partials/deal.scss */
.sort-wrapper ul {
  list-style-type: none;
  margin: 0;
  padding: 5px 20px;
  border: 1px solid #7da457;
}
/* line 36, ../../sass/partials/deal.scss */
.sort-wrapper li {
  float: left;
  width: 100px;
  margin-right: 64px;
}
/* line 40, ../../sass/partials/deal.scss */
.sort-wrapper li .imgsort-list {
  display: block;
  width: 100px;
  text-align: center;
  color: #7da457;
  padding: 3px 0;
  border-radius: 4px;
  cursor: pointer;
}
/* line 49, ../../sass/partials/deal.scss */
.sort-wrapper li .imgsort-list:hover {
  color: white;
  background-color: #7da457;
  text-decoration: none;
}
/* line 57, ../../sass/partials/deal.scss */
.sort-wrapper li.selected a.imgsort-list {
  color: white;
  background-color: #7da457;
  cursor: default;
}

/* line 66, ../../sass/partials/deal.scss */
.category-wrapper .floor__head {
  padding: 10px;
  margin: 10px 5px;
  border-bottom: 2px solid #e8e8e8;
  font-size: 20px;
  color: #7da457;
  font-weight: bold;
}
/* line 74, ../../sass/partials/deal.scss */
.category-wrapper .category__list {
  list-style-type: none;
}
/* line 76, ../../sass/partials/deal.scss */
.category-wrapper .category__list .deal-title {
  float: left;
  width: 200px;
  padding: 5px 10px;
  border: 1px solid #e8e8e8;
  margin-right: 6px;
  margin-bottom: 20px;
}
/* line 84, ../../sass/partials/deal.scss */
.category-wrapper .category__list .deal-title .deal-title__describe h3 {
  margin-bottom: 5px;
}
/* line 87, ../../sass/partials/deal.scss */
.category-wrapper .category__list .deal-title .deal-title__describe p {
  margin: 0;
  color: #999;
}
/* line 91, ../../sass/partials/deal.scss */
.category-wrapper .category__list .deal-title .deal-title__describe strong.num {
  color: #eb6101;
}
/* line 95, ../../sass/partials/deal.scss */
.category-wrapper .category__list .deal-title .deal-title__cover {
  display: block;
  position: relative;
  cursor: default;
}
/* line 100, ../../sass/partials/deal.scss */
.category-wrapper .category__list .deal-title .deal-title__cart {
  position: absolute;
  background-color: #e8e8e8;
  bottom: 0;
  padding-top: 10px;
  display: none;
}
/* line 106, ../../sass/partials/deal.scss */
.category-wrapper .category__list .deal-title .deal-title__cart .cart-select__area {
  width: 200px;
  height: 50px;
  font-size: 24px;
  text-align: center;
}
/* line 111, ../../sass/partials/deal.scss */
.category-wrapper .category__list .deal-title .deal-title__cart .cart-select__area .cart-select__area-btn {
  display: inline-block;
  text-decoration: none;
  width: 40px;
  height: 48px;
  line-height: 48px;
  border: 1px solid #7da457;
  cursor: pointer;
}
/* line 120, ../../sass/partials/deal.scss */
.category-wrapper .category__list .deal-title .deal-title__cart .cart-select__area .cart-select__area-number {
  display: inline-block;
  width: 60px;
  height: 48px;
  line-height: 48px;
}
/* line 127, ../../sass/partials/deal.scss */
.category-wrapper .category__list .deal-title .deal-title__cart .cart-select__result {
  color: #eb6101;
  padding: 2px 20px;
}
/* line 133, ../../sass/partials/deal.scss */
.category-wrapper .category__list .deal-title .deal-title__cover:hover .deal-title__cart {
  display: block;
}
/* line 137, ../../sass/partials/deal.scss */
.category-wrapper .category__list .deal-title .sales {
  display: block;
  background-color: #e8e8e8;
}
