/* line 176, base/*.png */
.base-sprite, .page-list--first .application-code, .page-list-second .flowWrapper li .flowWrapper-icon--1, .page-list-second .flowWrapper li .flowWrapper-icon--2, .page-list-second .flowWrapper li .flowWrapper-icon--3, .page-list-second .flowWrapper li .flowWrapper-icon-next, .page-list-second .flowWrapper li .flowWrapper-icon--4, .page-list-second .flowWrapper li .flowWrapper-icon--5, .page-list-second .flowWrapper li .flowWrapper-icon--6, .page-list-third h2 .divide-line, .page-list-third .contactWrapper .contact-icon-address, .page-list-third .contactWrapper .contact-icon-phone, .page-list-third .contactWrapper .contact-icon-mail, .page-list-third .contactWrapper .contact-icon-wechat {
  background-image: url('../../css/img/base-s8a968d003f.png');
  background-repeat: no-repeat;
}

/* line 6, ../../sass/partials/face.scss */
.page-list--first {
  border-top: 1px solid #d4d4d4;
  background-color: #f9f8f7;
}
/* line 9, ../../sass/partials/face.scss */
.page-list--first .page-list-back {
  height: 580px;
  background: url(../../image/face-first.png) no-repeat scroll center center;
}
/* line 13, ../../sass/partials/face.scss */
.page-list--first .slogan {
  width: 50%;
  margin-top: 146px;
}
/* line 18, ../../sass/partials/face.scss */
.page-list--first .application {
  margin-top: 146px;
  margin-left: 10%;
}
/* line 22, ../../sass/partials/face.scss */
.page-list--first .application-code {
  display: block;
  width: 256px;
  height: 256px;
  background-position: 0 -50px;
}

/* line 29, ../../sass/partials/face.scss */
.page-list-second {
  padding-top: 40px;
}
/* line 31, ../../sass/partials/face.scss */
.page-list-second h2, .page-list-second h3 {
  text-align: center;
}
/* line 34, ../../sass/partials/face.scss */
.page-list-second .flowWrapper {
  margin-left: 0;
  margin-top: 40px;
}
/* line 37, ../../sass/partials/face.scss */
.page-list-second .flowWrapper li {
  float: left;
  margin-left: 0;
}
/* line 40, ../../sass/partials/face.scss */
.page-list-second .flowWrapper li .flowWrapper-icon {
  display: block;
  margin: 0 auto;
  width: 128px;
  height: 128px;
}
/* line 47, ../../sass/partials/face.scss */
.page-list-second .flowWrapper li .flowWrapper-icon--1 {
  background-position: 0 -643px;
}
/* line 50, ../../sass/partials/face.scss */
.page-list-second .flowWrapper li .flowWrapper-icon--2 {
  background-position: 0 -773px;
}
/* line 53, ../../sass/partials/face.scss */
.page-list-second .flowWrapper li .flowWrapper-icon--3 {
  background-position: 0 -1585px;
}
/* line 57, ../../sass/partials/face.scss */
.page-list-second .flowWrapper li .flowWrapper-icon-next {
  display: block;
  margin: 50px auto;
  width: 32px;
  height: 32px;
  background-position: 0 -1509px;
}
/* line 65, ../../sass/partials/face.scss */
.page-list-second .flowWrapper li .flowWrapper-icon--4, .page-list-second .flowWrapper li .flowWrapper-icon--5, .page-list-second .flowWrapper li .flowWrapper-icon--6 {
  width: 200px;
  height: 200px;
  border-radius: 100px;
}
/* line 71, ../../sass/partials/face.scss */
.page-list-second .flowWrapper li .flowWrapper-icon--4 {
  background-position: 0 -903px;
}
/* line 74, ../../sass/partials/face.scss */
.page-list-second .flowWrapper li .flowWrapper-icon--5 {
  background-position: 0 -1105px;
}
/* line 77, ../../sass/partials/face.scss */
.page-list-second .flowWrapper li .flowWrapper-icon--6 {
  background-position: 0 -1307px;
}

/* line 84, ../../sass/partials/face.scss */
.page-list-third {
  margin-top: 20px;
}
/* line 86, ../../sass/partials/face.scss */
.page-list-third ul.userWrapper {
  margin-left: 0;
}
/* line 88, ../../sass/partials/face.scss */
.page-list-third ul.userWrapper li {
  margin-top: 40px;
}
/* line 92, ../../sass/partials/face.scss */
.page-list-third h2 {
  position: relative;
  margin-top: 50px;
  text-align: center;
}
/* line 96, ../../sass/partials/face.scss */
.page-list-third h2 .divide-line {
  display: block;
  z-index: -1;
  position: absolute;
  top: 50%;
  width: 100%;
  height: 1px;
  background-position: 0 -1715px;
}
/* line 105, ../../sass/partials/face.scss */
.page-list-third h2 .divide-content {
  width: 280px;
  margin: 0 auto;
  background-color: white;
}
/* line 111, ../../sass/partials/face.scss */
.page-list-third h3 {
  text-align: center;
}
/* line 114, ../../sass/partials/face.scss */
.page-list-third .user-logo {
  display: block;
  height: 80px;
  width: 300px;
  background-color: #eee;
  margin: 0 auto;
}
/* line 121, ../../sass/partials/face.scss */
.page-list-third .media-report {
  margin-top: 50px;
  font-size: 30px;
  font-weight: bold;
  color: #999;
  text-align: center;
  line-height: 1.5em;
}
/* line 130, ../../sass/partials/face.scss */
.page-list-third .contactWrapper {
  margin-top: 40px;
}
/* line 132, ../../sass/partials/face.scss */
.page-list-third .contactWrapper .contact-icon {
  display: block;
  float: left;
  width: 48px;
  height: 45px;
  margin: 18px 20px 60px 0;
}
/* line 139, ../../sass/partials/face.scss */
.page-list-third .contactWrapper .contact-icon-address {
  background-position: 0 -502px;
}
/* line 142, ../../sass/partials/face.scss */
.page-list-third .contactWrapper .contact-icon-phone {
  background-position: 0 -549px;
}
/* line 145, ../../sass/partials/face.scss */
.page-list-third .contactWrapper .contact-icon-mail {
  background-position: 0 -596px;
}
/* line 148, ../../sass/partials/face.scss */
.page-list-third .contactWrapper .contact-icon-wechat {
  width: 192px;
  height: 192px;
  margin-top: 0;
  background-position: 0 -308px;
}
/* line 154, ../../sass/partials/face.scss */
.page-list-third .contactWrapper .span4 .contact-content {
  width: 56%;
}
/* line 158, ../../sass/partials/face.scss */
.page-list-third .contactWrapper .contact-content {
  float: left;
  color: #999;
  padding: 0 20px;
}
/* line 162, ../../sass/partials/face.scss */
.page-list-third .contactWrapper .contact-content h3 {
  text-align: left;
}
/* line 165, ../../sass/partials/face.scss */
.page-list-third .contactWrapper .contact-content p {
  text-align: left;
  font-size: 16px;
}

@media (max-width: 767px) {
  /* line 174, ../../sass/partials/face.scss */
  .page-list-third .contactWrapper .contact-icon {
    display: none;
  }
}
