@charset "UTF-8";
/* line 176, base/*.png */
.base-sprite, .pg-int .header .logo a, .pg-int .header .logo span {
  background-image: url('../../css/img/base-s8a968d003f.png');
  background-repeat: no-repeat;
}

/* line 256, basic/*.png */
.basic-sprite, .pg-int .sitecontent .slide-tab .slide-tab-nav li, .pg-int .sitecontent .slide-tab .slide-tab-nav li:hover, .pg-int .sitecontent .slide-tab .slide-tab-nav li.active, .pg-home .siteface-logo, .pg-home .siteface-qcode, .site-icon-large--1, .site-icon-large--2, .site-icon-large--3, .site-icon-large--4, .site-icon-large--5, .site-icon-large--6, .site-icon-large--7, .site-icon-next, .site-icon-simple--address, .site-icon-simple--phone, .site-icon-simple--mail, .site-icon-quotes-1, .site-icon-quotes-2, .navbar-btn, .slide-btn-left, .slide-btn-right {
  background-image: url('../../css/img/basic-s7a4d8e81d6.png');
  background-repeat: no-repeat;
}

/* line 48, company/*.png */
.company-sprite, .company-logo--1, .company-logo--2, .company-logo--3, .company-logo--4 {
  background-image: url('../../css/img/company-s225fbf37f8.png');
  background-repeat: no-repeat;
}

/* line 6, ../../sass/partials/int.scss */
.pg-int {
  background-color: white;
  /*
   * 头部区域
   */
  /*
   * 主体区域
   */
  /*
   * 尾部区域
   */
}
/* line 12, ../../sass/partials/int.scss */
.pg-int .header {
  width: 100%;
  top: 0;
  height: 82px;
  /*以上内容需要调整*/
  /*如果不同页heade不一样，这个可能也要调整*/
}
/* line 18, ../../sass/partials/int.scss */
.pg-int .header .logo a {
  display: block;
  width: 150px;
  height: 67px;
  background-position: 0 -1744px;
}
/* line 24, ../../sass/partials/int.scss */
.pg-int .header .logo span {
  display: block;
  width: 170px;
  height: 24px;
  margin-top: 32px;
  text-indent: -9999px;
  font-size: 14px;
  background-position: 0 -1718px;
}
/* line 35, ../../sass/partials/int.scss */
.pg-int .header .navbar-btn {
  display: none;
  margin: 15px;
  position: absolute;
  top: 0;
  right: 0;
}
/* line 42, ../../sass/partials/int.scss */
.pg-int .header .navbar-nav {
  float: right;
  margin-top: 40px;
  margin-right: 40px;
}
/* line 46, ../../sass/partials/int.scss */
.pg-int .header .navbar-nav li {
  float: left;
  border-right: 1px solid white;
  line-height: 14px;
  font-size: 14px;
}
/* line 51, ../../sass/partials/int.scss */
.pg-int .header .navbar-nav li.lastone {
  border: none;
}
/* line 54, ../../sass/partials/int.scss */
.pg-int .header .navbar-nav li a {
  padding: 0 14px;
  color: white;
}
/* line 57, ../../sass/partials/int.scss */
.pg-int .header .navbar-nav li a:hover {
  color: #a0d8ef;
  text-decoration: none;
}
/* line 71, ../../sass/partials/int.scss */
.pg-int .siteface {
  padding: 149px 0 0;
  height: 431px;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-color: #6BABC6;
  color: white;
}
/* line 78, ../../sass/partials/int.scss */
.pg-int .siteface .siteface-title {
  line-height: 1.2em;
}
/* line 81, ../../sass/partials/int.scss */
.pg-int .siteface .siteface-nav {
  list-style-type: disc;
  font-size: 22px;
  margin-top: 30px;
}
/* line 85, ../../sass/partials/int.scss */
.pg-int .siteface .siteface-nav li {
  padding: 10px;
}
/* line 89, ../../sass/partials/int.scss */
.pg-int .siteface .siteface-butt {
  width: 434px;
  margin-top: 30px;
}
/* line 92, ../../sass/partials/int.scss */
.pg-int .siteface .siteface-butt .butt {
  margin-right: 24px;
}
/* line 95, ../../sass/partials/int.scss */
.pg-int .siteface .siteface-butt .lastone {
  margin-right: 0;
}
/* line 102, ../../sass/partials/int.scss */
.pg-int .sitecontent {
  padding-top: 27px;
  padding-bottom: 27px;
}
/* line 105, ../../sass/partials/int.scss */
.pg-int .sitecontent .sitecontent-title {
  margin-bottom: 26px;
  font-size: 40px;
  text-align: center;
  color: #7F7F7F;
}
/* line 112, ../../sass/partials/int.scss */
.pg-int .sitecontent h3.site-subtitle {
  margin: 10px 0;
  text-align: center;
  font-size: 24px;
  font-weight: normal;
  color: #7F7F7F;
}
/* line 119, ../../sass/partials/int.scss */
.pg-int .sitecontent .site-icon-large {
  margin: 0 auto;
}
/* line 122, ../../sass/partials/int.scss */
.pg-int .sitecontent .site-icon-next {
  margin: 82px auto;
}
/* line 126, ../../sass/partials/int.scss */
.pg-int .sitecontent .sitecontent-content {
  width: 420px;
  margin: 0 auto;
}
/* line 128, ../../sass/partials/int.scss */
.pg-int .sitecontent .sitecontent-content .sitecontent-say-word {
  width: 380px;
}
/* line 130, ../../sass/partials/int.scss */
.pg-int .sitecontent .sitecontent-content .sitecontent-say-word p {
  font-size: 18px;
}
/* line 133, ../../sass/partials/int.scss */
.pg-int .sitecontent .sitecontent-content .sitecontent-say-word h4 {
  float: left;
  width: 100%;
}
/* line 140, ../../sass/partials/int.scss */
.pg-int .sitecontent .sitecontent-say {
  padding: 16px 0 40px;
  color: #7F7F7F;
}
/* line 145, ../../sass/partials/int.scss */
.pg-int .sitecontent .slide-btn {
  margin-top: 40px;
}
/* line 148, ../../sass/partials/int.scss */
.pg-int .sitecontent .slide-wrapper {
  margin-top: 40px;
}
/* line 151, ../../sass/partials/int.scss */
.pg-int .sitecontent .slide-nav {
  margin-left: 0;
  color: #7F7F7F;
  text-align: center;
}
/* line 155, ../../sass/partials/int.scss */
.pg-int .sitecontent .slide-nav p {
  font-size: 30px;
  line-height: 1.5em;
  margin-top: 4px;
}
/* line 160, ../../sass/partials/int.scss */
.pg-int .sitecontent .slide-nav h3 {
  font-size: 22px;
  margin-top: 16px;
  margin-bottom: 16px;
}
/* line 167, ../../sass/partials/int.scss */
.pg-int .sitecontent .slide-tab .slide-tab-nav {
  width: 154px;
  margin: 24px auto;
}
/* line 170, ../../sass/partials/int.scss */
.pg-int .sitecontent .slide-tab .slide-tab-nav li {
  float: left;
  margin-right: 30px;
  width: 16px;
  height: 16px;
  background-position: -221px -177px;
}
/* line 176, ../../sass/partials/int.scss */
.pg-int .sitecontent .slide-tab .slide-tab-nav li:hover {
  background-position: -205px -177px;
  cursor: pointer;
}
/* line 180, ../../sass/partials/int.scss */
.pg-int .sitecontent .slide-tab .slide-tab-nav li.active {
  background-position: -205px -177px;
}
/* line 182, ../../sass/partials/int.scss */
.pg-int .sitecontent .slide-tab .slide-tab-nav li.active:hover {
  cursor: default;
}
/* line 186, ../../sass/partials/int.scss */
.pg-int .sitecontent .slide-tab .slide-tab-nav li.lastone {
  margin-right: 0;
}
/* line 193, ../../sass/partials/int.scss */
.pg-int .sitecontent .contact-area {
  margin-top: 10px;
  margin-bottom: 60px;
}
/* line 195, ../../sass/partials/int.scss */
.pg-int .sitecontent .contact-area h3 {
  color: #7F7F7F;
}
/* line 198, ../../sass/partials/int.scss */
.pg-int .sitecontent .contact-area p {
  color: #206936;
  width: 190px;
}
/* line 205, ../../sass/partials/int.scss */
.pg-int .sitecontent-odd {
  background-color: #FAFAFA;
}
/* line 216, ../../sass/partials/int.scss */
.pg-int .footer {
  padding-top: 44px;
  padding-bottom: 80px;
  background-color: #7F7F7F;
  color: #FAFAFA;
}
/* line 222, ../../sass/partials/int.scss */
.pg-int .footer .footer-infoNav h2 {
  font-size: 24px;
}
/* line 225, ../../sass/partials/int.scss */
.pg-int .footer .footer-infoNav a {
  color: #FAFAFA;
}
/* line 229, ../../sass/partials/int.scss */
.pg-int .footer .footer-infoNav--last {
  text-align: right;
}

/*
 * 不同界面
 */
/* line 240, ../../sass/partials/int.scss */
.pg-home .header {
  float: right;
}
/* line 243, ../../sass/partials/int.scss */
.pg-home h1.logo {
  display: none;
}
/* line 246, ../../sass/partials/int.scss */
.pg-home .siteface {
  background-image: url("../img/main/banner_pic.jpg");
}
/* line 249, ../../sass/partials/int.scss */
.pg-home .siteface-logo {
  display: block;
  width: 262px;
  height: 282px;
  background-position: 0 -2284px;
}
/* line 253, ../../sass/partials/int.scss */
.pg-home .siteface-qcode {
  height: 262px;
  margin-top: 20px;
  background-position: 0 -2022px;
}

/*
 * 图标
 */
/* line 265, ../../sass/partials/int.scss */
.site-icon-large {
  display: block;
  width: 200px;
  height: 200px;
}

/* line 268, ../../sass/partials/int.scss */
.site-icon-large--1 {
  background-position: 0 -822px;
}

/* line 271, ../../sass/partials/int.scss */
.site-icon-large--2 {
  background-position: 0 -1822px;
}

/* line 274, ../../sass/partials/int.scss */
.site-icon-large--3 {
  background-position: 0 -1422px;
}

/* line 277, ../../sass/partials/int.scss */
.site-icon-large--4 {
  background-position: 0 -622px;
}

/* line 280, ../../sass/partials/int.scss */
.site-icon-large--5 {
  background-position: 0 -1022px;
}

/* line 283, ../../sass/partials/int.scss */
.site-icon-large--6 {
  background-position: 0 -1222px;
}

/* line 286, ../../sass/partials/int.scss */
.site-icon-large--7 {
  background-position: 0 -1622px;
}

/* line 289, ../../sass/partials/int.scss */
.site-icon-next {
  display: block;
  width: 57px;
  height: 44px;
  background-position: -205px -378px;
}

/* line 293, ../../sass/partials/int.scss */
.site-icon-simple {
  display: block;
  width: 110px;
  height: 110px;
}

/* line 296, ../../sass/partials/int.scss */
.site-icon-simple--address {
  background-position: 0 -512px;
}

/* line 299, ../../sass/partials/int.scss */
.site-icon-simple--phone {
  background-position: -44px 0;
}

/* line 302, ../../sass/partials/int.scss */
.site-icon-simple--mail {
  background-position: -143px -512px;
}

/* line 306, ../../sass/partials/int.scss */
.site-icon-quotes-1 {
  display: block;
  width: 29px;
  height: 28px;
  background-position: -205px -110px;
}

/* line 310, ../../sass/partials/int.scss */
.site-icon-quotes-2 {
  display: block;
  width: 30px;
  height: 28px;
  background-position: -205px -244px;
}

/* line 314, ../../sass/partials/int.scss */
.navbar-btn {
  display: block;
  width: 42px;
  height: 42px;
  border: 0;
  background-position: -205px -311px;
}

/* line 319, ../../sass/partials/int.scss */
.slide-btn {
  display: block;
  width: 34px;
  height: 56px;
  cursor: pointer;
}

/* line 323, ../../sass/partials/int.scss */
.slide-btn-left {
  background-position: -205px -445px;
}

/* line 326, ../../sass/partials/int.scss */
.slide-btn-right {
  background-position: -110px -512px;
}

/* line 330, ../../sass/partials/int.scss */
.company-logo {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 260px;
}

/* line 334, ../../sass/partials/int.scss */
.company-logo--1 {
  background-position: 0 0;
}

/* line 337, ../../sass/partials/int.scss */
.company-logo--2 {
  background-position: 0 0;
}

/* line 340, ../../sass/partials/int.scss */
.company-logo--3 {
  background-position: 0 0;
}

/* line 343, ../../sass/partials/int.scss */
.company-logo--4 {
  background-position: 0 0;
}

/*
 * 媒体查询
 */
@media (min-width: 1440px) {
  /* line 352, ../../sass/partials/int.scss */
  .siteface {
    background-size: cover;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  /* line 361, ../../sass/partials/int.scss */
  .pg-int .sitecontent .sitecontent-content {
    width: 320px;
  }
  /* line 363, ../../sass/partials/int.scss */
  .pg-int .sitecontent .sitecontent-content .sitecontent-say-word {
    width: 280px;
  }
}
@media (max-width: 480px) {
  /* line 374, ../../sass/partials/int.scss */
  .pg-int .siteface {
    background-size: cover;
    height: 531px;
    padding-top: 82px;
  }
  /* line 377, ../../sass/partials/int.scss */
  .pg-int .siteface .siteface-butt {
    width: 206px;
  }
  /* line 379, ../../sass/partials/int.scss */
  .pg-int .siteface .siteface-butt .butt {
    margin-right: 0;
  }
  /* line 382, ../../sass/partials/int.scss */
  .pg-int .siteface .siteface-butt .lastone {
    margin-top: 10px;
  }
  /* line 388, ../../sass/partials/int.scss */
  .pg-int .sitecontent .sitecontent-content {
    width: 100%;
  }
}
@media (max-width: 767px) {
  /* line 396, ../../sass/partials/int.scss */
  body {
    padding-right: 0px;
    padding-left: 0px;
  }

  /* line 400, ../../sass/partials/int.scss */
  .siteface-title {
    text-align: center;
  }

  /* line 403, ../../sass/partials/int.scss */
  .siteface-nav {
    display: none;
  }

  /* line 406, ../../sass/partials/int.scss */
  .siteface-butt {
    margin: 0 auto;
  }

  /* line 409, ../../sass/partials/int.scss */
  .slide-btn {
    display: none;
  }

  /* line 412, ../../sass/partials/int.scss */
  .slide-wrapper {
    margin-top: 0;
  }

  /* line 417, ../../sass/partials/int.scss */
  .pg-int .header .navbar-btn {
    display: block;
  }
  /* line 420, ../../sass/partials/int.scss */
  .pg-int .header .navbar-nav {
    display: none;
    background-color: white;
    margin: 0;
    padding-top: 10px;
    border-bottom: 1px solid #e8e8e8;
    width: 100%;
  }
  /* line 426, ../../sass/partials/int.scss */
  .pg-int .header .navbar-nav li {
    float: none;
  }
  /* line 428, ../../sass/partials/int.scss */
  .pg-int .header .navbar-nav li a {
    color: #666;
    font-size: 16px;
    display: block;
    padding: 15px 25px;
  }
  /* line 437, ../../sass/partials/int.scss */
  .pg-int .header .vshow {
    display: block;
  }
  /* line 443, ../../sass/partials/int.scss */
  .pg-int .sitecontent .sitecontent-content .sitecontent-say-word {
    width: 100%;
  }
  /* line 449, ../../sass/partials/int.scss */
  .pg-int .footer .footer-infoNav {
    text-align: center;
  }
  /* line 453, ../../sass/partials/int.scss */
  .pg-int .site-icon-next {
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}
/*字体调整*/
@media (min-width: 768px) {
  /* line 471, ../../sass/partials/int.scss */
  .siteface-title {
    font-size: 46px;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  /* line 476, ../../sass/partials/int.scss */
  .siteface-title {
    font-size: 32px;
  }
}
@media (max-width: 480px) {
  /* line 481, ../../sass/partials/int.scss */
  .siteface-title {
    font-size: 24px;
  }
}
