//颜色规范
$color-green: #51B335;
$color-green-light: #206936;
$color-green-dark: #435849;
$color-blue-light: #a0d8ef;
$color-blue-dark: #38a1b8;

$color-title:#333;
$color-text:#666;
$color-text-weaken:#999;
$color-text-light:#7F7F7F;

$color-bac-light: #FAFAFA;
$color-bac-light-gray: #F0F0F0;
$color-bac-light-green: #F0F7F0;
$color-bac-dark-green: #1F8727;




$color-October: #5bc52f;
//#7da457;

//背景色
$color-bg-dark:#1d1f20;
$color-bg-light:#f1f1f1;


//边框色
$color-border-normal:#eee;

//文字、链接色
$color-link:#2bb8aa;
$color-highlight:#f76120;

//风格色
$color-January:#f5f5ee;
$color-February:#a1a46d;
$color-March:#ed8cb5;
$color-April:#a23a52;
$color-May:#eebbcb;
$color-June:#bce2e8;
$color-July:#38a1b8;
$color-August:#a0d8ef;
$color-September:#522f60;
$color-November:#da81b2;
$color-December:#eb6101;
